{%- if command == "platform" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# Learn Platform for {{ device_id }}",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://www.ciscolive.com/c/dam/r/ciscolive/global-event/images/2022/cl22-opengraph-allin.png"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Welcome to Cisco Live US 2022",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Powered by pyATS and WebEx",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 35,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Device Type:",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Chassis:",
                            "weight": "Lighter",
                            "color": "Light",
                            "spacing": "Small"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Uptime:",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Image:",
                            "weight": "Lighter",
                            "color": "Light",
                            "spacing": "Small"
                        },
                        {
                            "type": "TextBlock",
                            "text": "OS:",
                            "weight": "Lighter",
                            "color": "Light",
                            "spacing": "Small"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Version:",
                            "weight": "Lighter",
                            "color": "Light",
                            "spacing": "Small"
                        }                                                  
                    ]
                },
                {
                    "type": "Column",
                    "width": 65,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ to_parse_platform.rtr_type }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ to_parse_platform.chassis }}",
                            "color": "Light",
                            "weight": "Lighter",
                            "spacing": "Small"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ to_parse_platform.rp_uptime }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ to_parse_platform.image }}",
                            "color": "Light",
                            "weight": "Lighter",
                            "spacing": "Small"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ to_parse_platform.os }}",
                            "weight": "Lighter",
                            "color": "Light",
                            "spacing": "Small"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ to_parse_platform.version }}",
                            "weight": "Lighter",
                            "color": "Light",
                            "spacing": "Small"
                        }                                                  
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "Cisco has provided this information for the {{ device_id }} using pyATS Learn Platform",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "pyATS and WebEx Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "pyATS - (https://developer.cisco.com/pyats/)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://developer.webex.com/",
              "title": "Check out the amazing world of WebEx development"
            }
          ]        
        }
        }
    ]
}
{%- endif %}